.alert-success {
    background-color: beige
}

.alert-warning {
    background-color:white;
}

.alert-danger {
    background-color: red;
}

.alert-info {
    background-color: teal;
}
nav li{display: inline; background-color: beige;}
nav li a{color: black}

body{
    background-color: beige;
    color: black;

}

